@charset"UTF-8";

#title{
	color:white;
	font-fmamily:;
}
/**************header******************/
/*ハンバーガーメニュー*/
.header-nav-ham{
	display:block;
	position:relative;
	margin:10px 10px 10px auto;
	width:1.75rem;
	height:1.5rem;
}
.header-nav-ham i{
	display: block;
	width: 100%;
	height: 2px;
	background-color:#333;
	position: absolute;
	transition: transform .5s, opacity .5s;
}
.header-nav-ham i:nth-child(1){
	top:0;
}
.header-nav-ham i:nth-child(2){
	top:0;
	bottom:0;
	margin: auto;
}
.header-nav-ham i:nth-child(3){
	bottom:0;
}
/* header_nav_ham . show */
.header-nav-ham.show i:nth-child(1){
	transform: translateY(10px) rotate(-45deg);
}
.header-nav-ham.show i:nth-child(2){
	opacity:0;
}
.header-nav-ham.show i:nth-child(3){
	transform: translateY(-12px) rotate(45deg);
}

.sitemap{
	position:relative;/*表示メニューを右に出したい*/
	left:0;
	right:0;
	bottom: 0;
	padding:1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s visibility .5s;
	height:575px;
}
.sitemap.show{	
	opacity:1;
	background-color: rgba(60,60,90,0.5);
/*　改良必要　↑　*/
	visibility: visible;
}

.header-box{
  background-color: white;
  width:auto;
  height:800px;
  display:flex;
  position:relative;
}
.header-box img{
	width: 100%;
}
.header-leftMenu{
  background: rgba(105,105,105,0.5);
  width:55%;
  height:500px;
  margin:0;
  position:absolute;
  bottom:0;
  left: 0;
  
}
.header-topBox{
  position:absolute;
  right:0;
  top:0;
  height:650px;
  margin:0;
  width:85%;
  background: rgba(255,255,255,0.2);
}
.header-topBoxmin{
  position:absolute;
  right:0;
  top:0;
  height:45px;
  margin:0;
  width:45px;

  background: rgba(255,255,255,0.8);
}
.header-rightMenu{
  background-color:none;
  justify-content:center;
  height:70px;
  margin:0;
  width:45%;
  position: absolute;
  right:0;
  top:0;
}
.header-Mes{
  position: absolute;
  top:0;
  right:0;
  background-color:none;
  width: 70%;
  height: 325px;
}
.header-title{
  font-size:15px;
  width: 350px;
  height: 150px;
  margin: 25px 0px 0px 10px;
  background-color: none;
}
.header-subtitle{
	color:white;
	font-size: 25px;
	margin-left:20px;	
}
.header-contents{
  font-size:10px;
  width: 400px;
  height: 100px;
  margin: 0px 0px 0px 0px;
  background-color: none;  
	text-align:right;
	padding-top:0px;
}
.header-contents h2{
	color:white;
}
.sitemap-list{
	list-style: none;
	list-style-type: none;
}

.sitemap-item{
	font-size: 1.8rem;
	/*font-family: ;*/
	margin:10px 5px 20px 0px ;	
}
.sitemap-item a{
text-decoration: none;
	color:white;
}
.sitemap-item a:link{
	color:white;
}
.sitemap-visited a:visited{
	color:white;
}
.sitemap-item a:hover{
	color:black;
}
.sitemap-item a:active{
	color:violet;
}
.sitemap-name{
  text-decoration:none;
  color:#000000;
  }
.siteName{
  font-size: 45px;
  margin: 0px 0px 0px 100px;
}
/**************header******************/

/**************Main******************/

/******************/
.main-mes-box{
	width:100%;
	background-color:white;
	height:360px;
	padding-top:110px;
}
.main-mes-title{
	margin: 0px auto 80px auto;
	width:200px;
	font-size:35px;
	text-align: center;
	background-color:black;
	color:white;
	border-radius: 25%;
}
.main-mes{
	width:100%;
	font-size:30px;
	text-align: center;
}
.main-sns{
	width:300px;
	font-size:25px;
	color:cadetblue;
	margin-top:30px;
	margin-right: 100px;
	float:right;
}
.main-sns-ins {
	color:cadetblue;
	text-decoration: none;
}

.main-sns-ins :visited{
	color:cadetblue;
}
.main-sns :hover{
	color:mediumvioletred;
}

/*********************/
.mainBox{
  width: 100%;
}
.main-space{
	width:100%;
	height:50px;
	background-color:black;
	opacity:0.9;
}

#main-style{
	width:100%;
	background-color:black;
	display: flex;
}
.main-style-box{
	width:20%;
	height:900px;
	border: solid 0.5px white;
	bacground-color:gray;
	position: relative;
	overflow: hidden;
}
.main-style-box-top{
	width:20%;
	height:900px;
	border: solid 0.5px white;
	bacground-color:gray;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.style-mes{
	padding-top:450px;
}
.style-mes-top{
	text-decoration: none;
	list-style:none;
	padding-top:450px;
	color:white;
	font-size:30px;
	
}
.main-style-box .style-mes{
	font-size:130%;
	text-align: center;
	color:white; 
}

.main-style-box .main-style-mask{
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			0;
	left:			0;
	opacity:		0;	
	background-color:	rgba(0,0,0,0.7);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.main-style-box:hover .main-style-mask{
	opacity: 1;
	
}
#main-contents{
	width:100%;
	height:600px;
	display:flex;
}
.contents-box{
	width:25%;
	height:500px;
	margin:50px 20px;
	background-color:gray;
	border:solid 1px white;
}
.step-space{
	width:100%;
	background-color:none;
	height: 100px;
}
#main-steps{
	width:100%;
	display: flex;
	padding:150px 0px 80px 0px ;
}

#step1{
	width:25%;
	background-color: none;
	text-align: center;
	padding-top:0px;
	height: 400px;
}
#step2{
	width:25%;
	background-color: none;
	height:550px;
	position: relative;
	text-align: center;
	padding-top:120px;
}
#step3{
	width:25%;
	background-color: none;
	height:700px;
	position: relative;
	text-align: center;
	padding-top:240px;
}
#step4{
	width:25%;
	background-color: none;
	height:auto;
	position: relative;
	text-align:center;
	padding-top:360px;
}
.step-box{
	background-color:none;
	width: 360px;
	height: 500px;
	display: inline-block;
	text-aligin:center;
}
.step-box-img{
	width:320px;
	height:320px;
	background-color:none;
	display:inherit;
	margin-top:10px;
	overflow: hidden;
	border: solid 1px gray;
}
.step-box-img img{
	display: block;
	transition:0.8s;
}
.step-box-img :hover{
	transform: scale(1.1,1.1);
}
.step-box-mes{
	display:inherit;
	text-align: left;
	color:white;
	width:320px;
	background:rgba(0,240,110,0.95);
	color:black;
}
.step-box-mes h3{
	
}
/********nav********

.mainBox-nav{
  font: 10px/20px 'Open Sans', sans-serif;
  height: 650px;
  width: 20%;
}
#header {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  z-index: -1;
  height: 145px;
	left:40px;
}
#h-inner {
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 150px;
  font-size: 20px;
}
#mainNav{
	float:left;
	z-index:2;
}
.show{
	left:0;
}
.hide{
	left:-100%;
}
#nav-contens{
	position:relative;
}
.nav-item {
	width:90px;
	height:135px;
	background-color:orange;
	display:block;
	text-align:center;
	line-height:150px;
	cursor: pointer;
}
.nav-item a:hover i{
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	-webkit-transform:rotate(360deg);
	transform: rotate(360deg);
}
.nav-item a{
	color:#fff;
	width:100%;
	height:100%;
	display:block;
	text-decoration: none;
}
.nav-item i{
	font-size:20px;
}
.animate {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.cred {
  color: #969696;
  font-size: 7pt;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
}
********nav********/

.main-box-slide{
	width:100%;
	background-color: palevioletred;
	height: 500px;	
	margin-top:10px;
	margin-bottom: 10px;
}
/*********Slideeshow**********
.slideshoww {
    background-color: rgb(0, 0, 0);
    height: 465px;
    min-width: 960px;
    overflow: hidden;
    position: relative;
}

.slideshow-slides {
    height: 100%;
    position: absolute;
    width: 100%;

}
.slideshow-slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;

}
.slideshow-slides .slide img {
    left: 50%;
    margin-left: -800px;
    position: absolute;
}

.slideshow-nav a,
.slideshow-indicator a {
    background-color: rgba(0, 0, 0, 0); 
    overflow: hidden;
}
.slideshow-nav a:before,
.slideshow-indicator a:before {
    content: url(../images/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.slideshow-nav a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
}
.slideshow-nav a.prev {
    margin-left: -480px;
}
.slideshow-nav a.prev:before {
    margin-top: -20px;    
}
.slideshow-nav a.next {
    margin-left: 408px;
}
.slideshow-nav a.next:before {
    margin-left: -80px;
    margin-top: -20px;
}
.slideshow-nav a.disabled {
    display: none;
}

.slideshow-indicator {
    bottom: 30px;
    height: 16px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.slideshow-indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow-indicator a.active {
    cursor: default;
}
.slideshow-indicator a:before {
    margin-left: -110px;
}
.slideshow-indicator a.active:before {
    margin-left: -130px;
}

/* JavsScript 無効時 
.no-js .slideshow {
    height: auto;
}
.no-js .slideshow-slides {
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide {
    display: block;
    height: auto;
    position: static;
}
.no-js .slideshow-slides .slide img {
    margin: auto;
    position: static;
}
.no-js .slideshow-nav,
.no-js .slideshow-indicator {
    display: none;
}
/*no-js in Slideshow */

/*********Slideshow**********/

/**************Main******************/

/**************footer******************/
.footer-all{
	width:100%;
	height:100%;
}
.footer-opacity{
	background: rgba(0,0,0,0.9);
	height:100%;
	width: 100%;
}
.footer-boxes{
	padding: 200px 10% 250px;	
}
@media (min-width:992px)
.footer-boxes{
	
}
.footer-top{
	display:flex;
	border-bottom: 2px solid #2f4f4f;
	padding-bottom: 50px;
	
}
.footer-icon{
	width:150px;
	height:150px;
	background-color: none;
}
.footer-icon img{
	border-radius: 50%;
	border: solid 2px gray;
}
.footer-topBar{
	flex:initial;
	padding:95px 0px 0px 10px;
	width:100%;
	justify-content: flex-end;
}
.footer-naviUl{
	background-color: none;
	display: flex;
	text-align: center;
	text-decoration: none;
	margin:2px;
	padding:5px;
	font-size: 10px;
	list-style: none;
	justify-content: flex-end;
}
.footer-naviLi{
	width:100px;
	margin:0px 1%;
}
.footer-naviLi a{
	font-size: 15px;
	text-decoration: none;
	color: gray;
}
.footer-naviLi :hover{
	color:white;
}
.footer-under{
	align-items:flex-start;
	display:flex;
}
.footer-info{
	padding-top:60px;
	text-align:left;
	background-color:none;
	width:50%;
}
.footer-infoName{
	font-size: 0.9rem;
}
.footer-infoName a{
	color:white;
	text-decoration: none;
}
.footer-infoName :hover {
	color:gray;
}
.footer-infoMeta{
	padding:20px 0px;
	font-size:0.8rem;
	color:gray;
}
.footer-underbar{
	width:50%;
	padding-top:55px;
}
.footer-sns{
	display: flex;
	justify-content: flex-end;	
}
.footer-snsIcon{
	padding:0px 10px;
	display:inline-block;
	font-size:35px;
	text-decoration:none;
	transition:.5s;
	color:#444;
}
.footer-snsIcon .fa-instagram :hove{
	color:#c6529a;	
	}
.footer-undNavi{
	margin-top:20px;
}
#footer-year{
	margin-top:20px;
	text-align:right;
	font-size:0.8em;
	width: 99%;
	color:gray;
}



 